{% if site.data.social_links.social %}
<div class="social">
  <ul class="social__list list-reset">
    <li class="social__item">
      <a class="social__link" href="tel:+14355905236" target="_blank" rel="noopener" aria-label="phone icon"><i class="ion ion-md-call"></i></a>
      <a class="social__link" href="mailto:imlayoffice@gmail.com" target="_blank" rel="noopener" aria-label="email icon"><i class="ion ion-md-mail"></i></a>
    </li>
    {% for social in site.data.social_links.social %}
    <li class="social__item">
      <a class="social__link" href="{{social.link}}" target="_blank" rel="noopener" aria-label="{{social.icon | downcase}} icon"><i class="ion ion-logo-{{social.icon | downcase}}"></i></a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}