/* team-hero */
#team-hero__image img {
  border-radius: 60px;
  object-fit: cover;
  user-select: none;
  box-shadow: 0px 100px 80px rgba($primary-color, 0.07), 0px 41.7776px 33.4221px rgba($primary-color, 0.0503198), 0px 22.3363px 17.869px rgba($primary-color, 0.0417275), 0px 12.5216px 10.0172px rgba($primary-color, 0.035), 0px 6.6501px 5.32008px rgba($primary-color, 0.0282725), 0px 2.76726px 2.21381px rgba($primary-color, 0.0196802);
  transition: inherit;
}

@media only screen and (max-width: $mobile) {
  #team-hero__image img {
	border-radius: 16px;
	box-shadow: none;
  }
}