---
layout: default
---

<div class="container">

  {% bookshop page-heading title=page.title description=page.subtitle %}
  {% assign page_image = site.baseurl | append: page.image %}
  {% bookshop page-image image=page_image %}

  <div class="page animate">
    {{ content }}
  </div>

  {% if page.previous.url %}
  <div class="service__navigation animate">
    <a class="service__prev" href="{{page.previous.url}}">
      <div class="service__box">
        <span class="service__nav__info">Next Service</span>
        <h2 class="service__nav__title">{{page.previous.title}}<i class="ion ion-md-arrow-round-forward arrow-right"></i></h2>
      </div>
    </a>
  </div>
  {% endif %}

</div>

{% bookshop
  contact-form form_title=site.data.contact_form.form_title
  form_description=site.data.contact_form.form_description
  form_submission_email=site.data.contact_form.form_submission_email
  form_button_text=site.data.contact_form.form_button_text
%}