<!-- begin services -->
<section class="section services" id="services">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="contaniner__inner animate">

          <div class="section__info">
            <div class="section__head">
              <h2 class="section__title">{{ include.title }}</h2>
              <a class="section__link" href="{{ include.link_url }}">View all <i class="ion ion-md-arrow-forward"></i></a>
            </div>
            <div class="section__description">{{ include.description_html }}</div>
          </div>

          {% if include.show_services %}
          <div class="row">
            {% for service in site.services %}
              {% if forloop.index <= 6 %}
                {% bookshop service-card service=service %}
              {% endif %}
            {% endfor %}
          </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end services -->